
<div class="resume-section-content">
    <form method="post">
        <h2 class="mb-5">Contact Me!</h2>

        <label>Name Surname:</label>
        <input type="text" class="form form-control" name="namesurname" />

        <label>Mail:</label>
        <input type="text" class="form form-control" name="mail"/>

        <label>Subject:</label>
        <input type="text" class="form form-control" name="subject"/>

        <label>Message:</label>
        <input type="text" class="form form-control" name="message"/>
        <br />
        <button class="btn btn-info">Send</button>
    </form>
</div>
